.container{
  max-width: 100%;
  background-color: white;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.btn-xss {
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #734675;
    border-color:  #734675;
  }

  .table th {
    text-align: left;
  }
  .table td {
    text-align: left;
  }
