.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:25em;
  height: 30px;
  padding: 7px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #734668;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}

#search-box {
  width: 400px;
  height: 40px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 9.7em;
}
