<nav class="navbar navbar-expand-md navbar navbar-light fixed-top" style="background-color: #330F33;">
  <a class="navbar-brand nav-title" href="#"><b>DASHBOARD</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse " id="navbarCollapse">
      <div class="nav-item nav-custom">
        <a class="nav-link nav-custom" routerLink="/dashboard">HOME</a>
      </div>
    </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
  <div class="nav-item">
    <a class="nav-link nav-custom" routerLink="/" >Sign Out <i class="fa fa-sign-out"></i></a>
  </div>
  </div>
</nav>
